* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  font-size: 62.5%;
}

header {
  padding: 1rem 2rem;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
}
.logo-nav .main-nav .nav-link {
  display: inline-block;
  vertical-align: bottom;
}
.logo-nav .main-nav .nav-link:not(:first-of-type) {
  margin-left: 2rem;
}

.social-icon {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #135350;
  font-size: 3rem;
}