$color-primary: #ff3a3a;
$color-secondary: #063331;
$color-secondary-light: lighten($color-secondary, 30);
$color-tertiary: #222;
$color-white: #fff;

$font-sans: "Montserrat", sans-serif;
$font-serif: "Playfair Display", serif;

$gradient-bg-med: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
$gradient-bg-dark: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));

$radius-circle: 50%;
$radius-sm: 0.5rem;
$radius-huge: 10rem;

$shadow-glow: 0 0 3rem $color-secondary-light;
$shadow-images: 0.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.9);

$transition-fast: all 0.1s;
$transition-default: all 0.4s;
$translate-neg-50-x: translate(-50%);
