* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  color: $color-white;
  font-family: $font-sans;
  background-color: $color-tertiary;
  font-size: 2rem;
}

a:link,
a:visited {
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  background-color: $color-primary;
  padding: 1rem 3rem;
  border-radius: $radius-sm;

  font-size: 2rem;
  font-weight: bold;
}

h1,
h2,
h3,
.logo,
.btn {
  text-align: center;
  text-transform: uppercase;
  font-family: $font-serif;
}

h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
}

h3 {
  font-size: 2rem;
}

h2,
h3 {
  position: relative;

  &::after {
    content: "";
    width: 80%;
    height: 0.2rem;
    background-color: $color-white;
    position: absolute;
    bottom: -0.5rem;
    left: 10%;
    border-radius: $radius-huge;
  }
}

.content {
  padding: 3rem 2rem;
}

img {
  max-width: 80%;
  display: block;
  margin: 1.5rem auto;
  border-radius: $radius-huge;
  border: 5px solid $color-white;

  box-shadow: $shadow-images;
}

label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  border-radius: $radius-sm;
  margin-bottom: 4rem;
  padding: 1rem;
  font-size: 2rem;
}

address {
  margin-top: 3rem;

  font-style: normal;
  font-size: inherit;
  font-family: inherit;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  top: -1;
  left: -1;
}

@media screen and (min-width: 1000px) {
  .content {
    width: 50%;
    margin: 0 auto;
  }

  input {
    font-size: 2.5rem;
  }
}
