* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  color: $color-white;
}

a:link,
a:visited {
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
}

.btn {
  background-color: $color-primary;
  padding: 1rem 3rem;
  border-radius: $radius-sm;

  font-size: 2rem;
}

h1,
h2,
h3,
.logo,
.btn {
  text-align: center;
  text-transform: uppercase;
  font-family: $font-serif;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h2,
h3 {
  position: relative;
  margin-bottom: 2rem;

  &::after {
    content: "";
    width: 80%;
    height: 0.2rem;
    background-color: $color-white;
    position: absolute;
    bottom: -0.5rem;
    left: 10%;
    border-radius: $radius-huge;
  }
}

.content {
  padding: 3rem 2rem;
}

img {
  max-width: 80%;
  display: block;
  margin: 1.5rem auto;
  border-radius: $radius-huge;
  border: 5px solid $color-white;

  box-shadow: $shadow-images;
}
